.card-container {
  display: flex;
  min-height: 100px;
  border: 2px solid $color-2;
  padding: 16px;
  border-radius: 10px;
  margin: 8px auto;
  // width: 300px;
  @media screen and(max-width: 375px) {
    padding: 8px;
  }

  .card-left {
    // width: 100px;
    margin-right: 16px;
    @media screen and(max-width: 375px) {
      margin-right: 8px;
    }

    img {
      width: 55px;
      height: 55px;
      border-radius: 10px;
      object-fit: cover;
    }
  }
  .card-right {
    display: flex;
    flex-direction: column;
    width: 95%;
    position: relative;

    .card-header {
      display: flex;
      justify-content: space-between;
      margin: 2px 0 4px;
      @media screen and(max-width: 375px) {
        flex-direction: column;
      }

      .admin-pseudo {
        color: #9966ff;
      }

      h2 {
        font-weight: bold;
        font-size: 1.4em;
        &::first-letter {
          text-transform: uppercase;
        }
      }

      span {
        font-style: italic;
        font-family: $font-1;
        @media screen and(max-width: 375px) {
          font-size: 0.8em;
        }
      }
    }

    .card-main {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      // @media screen and(max-width: 375px) {
      //   margin-top: 8px;
      //   margin-left: -71px;
      // }
      p {
        margin: 3px 0 9px;
        font-size: 1.1rem;

        white-space: normal;
        overflow: auto;
      }
      // .update-post {
      //   textarea {
      //     font-size: 1.3rem;
      //     border: 1px solid $color-2;
      //     padding: 10px;
      //     border-radius: 20px 20px 6px 20px;
      //   }
      //   .button-container {
      //     .btn {
      //       background: $color-2;
      //       width: 240px;
      //       transform: translateY(-3px);

      //       &:hover {
      //         background: $color-1;
      //         width: 250px;
      //         letter-spacing: 1px;
      //       }
      //     }
      //   }
      // }
      // .image-container {
      //   max-width: 60%;
      //   @media screen and(max-width: 375px) {
      //     width: 150%;
      //   }
      .card-pic {
        width: 40%;
        // max-height: 500px;
        border-radius: 6px;
        margin-top: 12px;
        box-shadow: 0 0 3px rgba(51, 51, 51, 0.342);
        @media screen and(max-width: 375px) {
          width: 100%;
        }
      }

      iframe {
        width: 60%;
        min-height: 330px;
        border-radius: 6px;
        box-shadow: 0 0 3px rgba(51, 51, 51, 0.342);
        @media screen and(max-width: 375px) {
          width: 100%;
          min-height: 350px;
        }
      }
      // .button-container {
      //   justify-content: flex-end;
      //   display: flex;

      //   div {
      //     padding: 5px 9px;
      //     margin-left: 5px;
      //     background: $color-2;
      //     border-radius: 50px;
      //     transition: 0.1s;
      //     cursor: pointer;

      //     &:hover {
      //       transform: scale(1.07);
      //     }

      //     img {
      //       height: 16px;
      //       width: 16px;
      //       transform: translateY(3px);
      //     }
      //   }
      // }
    }
    .card-footer {
      display: flex;
      align-items: center;
      justify-content: center;
      justify-content: space-between;
      padding: 12px 0 0px;
      max-width: 150px;
      color: $color-1;
      // @media screen and(max-width: 375px) {
      //   // margin-top: 8px;
      //   margin-left: -71px;
      // }

      .comment-icon {
        i {
          font-size: 1.5em;
          cursor: pointer;
        }

        span {
          font-size: 1.02rem;
          margin-left: 3px;
        }
      }
      .like-container {
        i {
          font-size: 1.5em;
          cursor: pointer;
        }
        span {
          margin-left: 3px;
          font-size: 1.02em;
        }
      }
      .fa-trash-alt {
        font-size: 1.5em;
        color: $color-1;
        position: absolute;
        right: 0;
        cursor: pointer;
      }
    }
  }
}
