.comments-container {
  @media screen and(max-width: 375px) {
    margin-top: 8px;
    margin-left: -63px;
  }
  .comment-container.client {
    background: rgba(57, 153, 196, 0.2);
    border: none;
    border-radius: 10px 10px 0px 10px;
  }
  .comment-container {
    display: flex;
    border: 1px solid $color-2;
    padding: 15px;
    margin: 5px 0;
    border-radius: 10px 10px 10px 0px;

    img {
      height: 40px;
      width: 40px;
      border-radius: 10px;
      box-shadow: 1px 1px 3px rgba(51, 51, 51, 0.192);
      object-fit: cover;
      margin-right: 15px;
    }
    .right-comment {
      width: 100%;
      .header-comment {
        display: flex;
        justify-content: space-between;
        @media screen and(max-width: 375px) {
          flex-direction: column;
        }

        .admin-pseudo {
          color: #9966ff;
        }

        h3 {
          font-family: $font-1;
          &::first-letter {
            text-transform: uppercase;
          }
        }

        span {
          font-size: 0.9rem;
          font-style: italic;
          font-family: $font-1;
        }
      }
      .main-comment {
        p {
          margin-top: 8px;
        }
      }

      .footer-comment {
        min-height: 25px;
        display: flex;
        justify-content: flex-end;
        i {
          color: $color-1;
          font-size: 1.5em;
          cursor: pointer;
        }
      }
    }

    // .edit-comment {
    //   color: $color-2;
    //   img {
    //     float: right;
    //     margin-left: 10px;
    //     cursor: pointer;
    //     transition: 0.15s;
    //     box-shadow: none;
    //     height: 20px;
    //     width: 20px;

    //     &:hover {
    //       transform: scale(1.1);
    //     }
    //   }

    //   .edit-comment-form {
    //     margin-top: 14px;
    //     label {
    //       // background: $white;
    //       color: $color-1;
    //       padding: 6px 12px 5px;
    //       border-radius: 20px 20px 20px 6px;
    //       cursor: pointer;
    //       transition: 0.2s;
    //       display: inline-block;
    //       // font-family: $font-3;

    //       &:hover {
    //         transform: scale(1.05);
    //       }
    //     }
    //     input[type="text"] {
    //       margin: 4px 0;
    //       // background: $white;
    //       font-size: 1.15rem;
    //       padding: 16px;
    //       width: 100%;
    //       border-radius: 6px 20px 6px 20px;
    //     }
    //     .btn {
    //       display: flex;
    //       align-items: center;
    //       float: right;

    //       span {
    //         //   background: $white;
    //         padding: 10px 5px;
    //         border-radius: 50px;
    //         margin-right: 6px;
    //         transition: 0.2s;
    //         cursor: pointer;

    //         &:hover {
    //           background: $color-2;
    //         }

    //         img {
    //           transform: translate(-5px, 0);
    //         }
    //       }
    //       input[type="submit"] {
    //         background: $color-2;
    //         width: inherit;
    //         transition: 0.2s;

    //         &:hover {
    //           width: inherit;
    //           background: $color-1;
    //         }
    //       }
    //     }
    //   }
    // }
  }
  .comment-form {
    margin-top: 6px;

    input[type="text"] {
      width: 100%;
      background: $color-2;
      border-radius: 10px;
      padding: 20px;
      font-size: 1.4rem;

      &:focus {
        box-shadow: 0 0 2px rgba(51, 51, 51, 0.5);
      }
    }
    input[type="submit"] {
      margin-top: 4px;

      width: 120px;
      background: $color-2;
      border-radius: 10px;
      transition: 0.2s;
      float: right;

      &:hover {
        background: $color-1;

        width: 130px;
      }
    }
    button {
      float: right;
      background: $color-1;
      transition: 0.2s;

      &:hover {
        background: $color-2;
      }
    }
  }
  .like-container {
    span {
      font-size: 1.02rem;
      position: absolute;
      transform: translate(8px, -1px);
    }
  }
  .fa-share-alt {
    transform: translate(0, 2px);
  }

  .update-post {
    textarea {
      width: 100% !important;
      height: 80px;
    }
    .button-container {
      text-align: right;

      button {
        margin: 0;
        margin-left: 5px;
        width: 150px;

        &:nth-child(1) {
          background: $color-1;
        }
      }
    }
  }
}
